<h3>Editing Patient Checklist Entry</h3>

<%= render 'patients/form', Patient.find(@service.patient_id) %>

<!--<%= link_to 'View', @patient %> |-->
<%= link_to '', services_path, class:"glyphicon glyphicon-home" %>
